.topics {
    background: var(--color-gradient-blue);
    text-align: center;
    color: var(--color-white);
    padding: 1em 0;
}

.topics__title {
    color: var(--color-white);
    font-weight: 300;
    padding: 1em;
    text-transform: uppercase;

}

.topics__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topics__list__items {
    padding: 1em 0.5em;
}

.topics__list__items__link {
    color: var(--color-white);
    padding: 0.3em 0.5em;
    background-color: var(--color-orange);
    text-decoration: none;
    font-weight: 700;
}

@media screen and (min-width: 900px) {
    .topics__title {
        font-size: var(--size-text-subtitle-1024);
    }

    .topics__list__items__link {
        font-size: var(--size-text-subtitle-1024) ;
    }

    .topics__list__items {
        padding: 1em 0.5em;
    }
}

@media screen and (min-width: 1440px) {
    .topics {
        padding: 3em 20vw;
    }



}